.grid {
    .row {
        display: flex;
        flex: 1;

        .col {
            flex: 1;
        }
    }

    &.fixed {
        flex: none;
    }
}

.grid, .row, .col {
    position: relative;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

%align {
    display: flex;
    flex-direction: row;
}

.align-content-horizontal-center {
    @extend %align;
    justify-content: center;
}

.align-content-vertical-center {
    @extend %align;
    align-items: center;
}

.align-content-vertical-top {
    @extend %align;
    align-items: flex-start;
}

.align-content-vertical-bottom {
    @extend %align;
    align-items: flex-end;
}

.align-content-horizontal-left {
    @extend %align;
    justify-content: flex-start;
}

.align-content-horizontal-right {
    @extend %align;
    justify-content: flex-end;
}

.align-content-center-both {
    @extend .align-content-horizontal-center;
    @extend .align-content-vertical-center;
}

.fill-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1;
    justify-content: center;
}

$grid_column-count: 12;
@for $i from 1 through $grid_column-count {
    .grid > .row > .col#{$i} {
        flex: $i;
    }
}

.table-grid {
    > .row {
        padding-top: 20px;
        padding-bottom: 20px;
        .col:first-of-type {
            padding-left: 20px;
        }
        .col:last-of-type {
            padding-right: 20px;
        }
    }
    > .row:first-of-type {
        background-color: rgba(0,0,0,0.8);
        * {
            color: white;
        }
    }
    > .row:nth-of-type(2n+3) {
        background: rgba(0,0,0,0.1);
    }
}

.grid-debug {
    border: 1px dashed green;
    position: relative;
    .row {
        border: 1px dashed blue;
    }
    .col {
        border: 1px dashed red;
    }
    &:after{
      content: 'Screen';
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.6);
      color: white;
      padding: 5px;
      font-size: 9pt;
    }
}

.no-flex {
    flex: none !important;
}

@include responsive-behaviour-tablet {
    .grid-debug.responsive-tablet:after{
      content:'Tablet' !important;
    }
    .grid.responsive-tablet > .row {
        display: block;
        flex: none;
    }
    .grid.responsive-tablet > .row > .col {
        margin-bottom: $spacing-small;
        padding-right: 0;
        padding-left: 0;
        flex: none;
    }
};

@include responsive-behaviour-phone {
  .grid-debug.responsive-phone:after{
      content:'Phone' !important;
    }
    .grid.responsive-phone > .row {
        display: block;
        flex: none;
    }
    .grid.responsive-phone > .row > .col {
        margin-bottom: $spacing-small;
        padding-right: 0;
        padding-left: 0;
        flex: none;
    }
};
