.element-sample {
  table {
    margin-bottom: 30px;
    background-color: $gray-very-light;

    thead {
      background-color: $gray-medium;
      color: $white;
    }

    td {
      padding: 10px;
    }

    tr:nth-of-type(even) {
      background-color: $gray-light;
    }
  }

  pre {
    padding: 10px;
    background-color: $gray-medium;
    color: $white;
    margin-bottom: 30px;
    white-space: pre-wrap;
  }
  margin-bottom: 50px;
}