.virtual-list {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  > div {
    height: 0;
    overflow: hidden;
    & > div{

    background-repeat: no-repeat;
    background-size: cover;
    }

    &.in-view {
      box-sizing: border-box;
      line-height: 200px;
      height: 200px;
      border: 1px solid white;
      text-align: center;
      position: relative;
      background-color: rgba(0,0,0,0.3);

      .grid {
        height: 100%;
      }
    }
  }
}