/********************************************
  STANDARD IMPORTS
********************************************/

@import "~armstrong-react/dist/imports";
@import "./shared/_as-variables";
@import "./shared/variables";

/********************************************
  TYPOGRAPHY STYLING
********************************************/

body {
    font-size: $font-size-small;
    font-weight: 300;
    background: white;
    color: $gray-very-dark;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, pre, blockquote {
    font-weight: 300;
    margin-top: 0em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 2em;
}

h1 {
    font-size: $font-size-xlarge;
    font-weight: 800;
    line-height: 1.3;
}

h2 {
    font-size: $font-size-large;
    font-weight: 500;
    line-height: 1.5;
}

h3 {
    text-transform: uppercase;
    font-size: $font-size-xsmall;
    font-weight: 500;
    font-size: $font-size-small;
    line-height: 1.5;
}

b, strong {
    font-weight: 600;
}

a {
    color: $color-info;
}

ul, ol {
    margin: 2em 0;
    margin: 0;
    padding: 0;
    li {
        margin-bottom: 0.5em;
        padding-left: $spacing-xsmall;
    }
}

code, pre {
    background-color: $gray-very-light;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: $spacing-small;
    font-size: $font-size-xsmall;
}

pre, blockquote {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-large;
}

blockquote {
    border-left: 7px solid $gray-very-light;
    padding-left: $spacing-medium;
    margin-left: 0;
}

table {
    margin-bottom: $spacing-medium;
}