.date-input{
  > div{
    display: flex;
    > select {
      flex: 1;
      margin: 0 $spacing-xxsmall;
      &:first-of-type{
        margin-left: 0;
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
}