$height: 30px;
$width: 70px;

$padding: 5px;

$hover-nudge: 5px;

$inactive-colour: $gray-very-light;
$hover-colour: $gray-light;

$dude-size: $height - ($padding * 2);
$checked-transform: $width - $dude-size - ($padding * 2);

.armstrong-input.switch-input {
    position: relative;
    width: $width;
    height: $height;
    border-radius: $height / 2;

    transition: background-color 0.3s;
    cursor: pointer;

    background-color: $inactive-colour;
    border: none;

    &:focus {
        border: none;
    }

    &:checked {
        background-color: $color-positive;
    }

    &::after {
        content: '';
        display: block;
        width: $dude-size;
        height: $dude-size;
        position: absolute;
        left: $padding;
        top: $padding;

        background-color: white;
        border-radius: 50%;
        box-shadow: 0 0 12px rgba(black, 0.3);

        transition: transform 0.3s;
    }

    &:checked::after {
        transform: translateX($checked-transform)
    }

    &:hover[data-has-clicked="false"] {
        &:not(:checked) {
            background-color: $hover-colour;
        }

        &::after {
            transform: translateX($hover-nudge);
        }

        &:checked::after {
            transform: translateX($checked-transform - $hover-nudge);
        }
    }
}
