main {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.5em;
  p {
    padding: 1em 0;
  }
  h1 {
    text-align: center;
  }
  .rocket-logo {
    background-color: #232C33;
    text-align: center;
    padding: 1em;
  }
}
