@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600&display=swap');

// ICOMOON
@font-face {
  font-family: 'IcoMoon-Ultimate';
  src: url('../assets/fonts/IcoMoon-Ultimate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
