// DO NOT IMPORT THIS MORE THAN ONCE
@each $c-color in $colors{
  $color: nth($c-color, 2);
  .fg-#{nth($c-color, 1)}{
    color: #{$color};
  }
  .bg-#{nth($c-color, 1)}{
    background-color: #{$color};
  }
  .btn.bg-#{nth($c-color, 1)}{
    color: white;
    background-color: $color;
    &.shadow{
      @include button-shadow($color);
    }
  }
}