// DO NOT IMPORT THIS MORE THAN ONCE
.flex-override {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.t-align-center{
    text-align: center;
}

.t-align-left{
    text-align: left;
}

.t-align-right{
    text-align: right;
}