// DO NOT IMPORT THIS MORE THAN ONCE
.flex-override {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: inherit;
    padding-right: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    box-sizing: border-box;
}

.t-align-center{
    text-align: center;
}

.t-align-left{
    text-align: left;
}

.t-align-right{
    text-align: right;
}

.width-wrapper{
    max-width: $fixed-site-width;
    margin: 0 auto;
}