$menu-width: 300px;

html, body, main, .velocity-wrapper{
  overflow: hidden;
}

nav{
  position: fixed;
  height: 100%;
  background: red;
  width: $menu-width;
  left: -$menu-width;
  a{
    display: block;
  }
}

.velocity-wrapper{
  height: 100%;
}

.body-scroll{
  box-sizing: border-box;
  max-height: calc(100vh - 75px);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.layout-grid{
  box-sizing: border-box;
  overflow: hidden;
  width: 100vw;
}