$padding: 2.5px;

.toggle-input {
  label {
    display: inline-block !important;
    position: relative;
    top: -10px;
    margin-left: $spacing-small;
  }
}

.toggle-input > div {
  display: inline-block;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  height: 35px;
  width: 80px;
  background-color: $gray-medium;

  &:before {
    font-size: 8pt;
    text-transform: uppercase;
    content: attr(title);
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }

  &:after {
    content: "";
    transition: left 0.3s;
    top: 5px;
    border-radius: 100%;
    position: absolute;
    left: 5px;
    height: 25px;
    width: 25px;
    background-color: white;
  }

  &.toggled-on {
    background-color: $color-positive;

    &:after {
      left: 50px;
    }

    &:before {
      content: attr(title);
      right: inherit;
      left: 10px;
    }
  }
}

.empty-toggle {
  opacity: 0.35;
  border-radius: 20px;
  line-height: 35px;
  height: 35px;
  width: 80px;
  border: 1px solid $gray-medium;
  text-align: center;
}
