%align {
  display: flex;
  flex-direction: row;
}

%wrap-row {
  flex-wrap: wrap;
}

%align-content-horizontal-center {
  @extend %align;
  justify-content: center;
}

%align-content-vertical-center {
  @extend %align;
  align-items: center;
}

%align-content-vertical-top {
  @extend %align;
  align-items: flex-start;
}

%align-content-vertical-bottom {
  @extend %align;
  align-items: flex-end;
}

%align-content-horizontal-left {
  @extend %align;
  justify-content: flex-start;
}

%align-content-horizontal-right {
  @extend %align;
  justify-content: flex-end;
}

%align-content-center-both {
  @extend %align-content-horizontal-center;
  @extend %align-content-vertical-center;
}

.grid {
  .row {
    display: flex;
    flex: 1 1 0%;

    .col {
      flex: 1 1 0%;
    }
  }

  &.fixed {
    flex: 0 1 0%;
  }
}

.grid,
.row,
.col {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;

  // https://bugs.chromium.org/p/chromium/issues/detail?id=487302&desc=3
  // https://bugzilla.mozilla.org/show_bug.cgi?id=1043520
  min-height: 0;
  min-width: 0;
}

.wrap-row {
  @extend %wrap-row;
}

.align-con-h-center {
  @extend %align-content-horizontal-center;
}

.align-con-v-center {
  @extend %align-content-vertical-center;
}

.align-con-v-top {
  @extend %align-content-vertical-top;
}

.align-con-v-bottom {
  @extend %align-content-vertical-bottom;
}

.align-con-h-left {
  @extend %align-content-horizontal-left;
}

.align-con-h-right {
  @extend %align-content-horizontal-right;
}

.fill-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  flex: 1;
  justify-content: center;
}

.grid-debug {
  border: 1px dashed green;
  position: relative;

  > .row {
    border: 1px dashed blue;

    > .col {
      border: 1px dashed red;
    }
  }
}

.no-flex {
  flex: none !important;
}
