.btn {
    background-color: $gray-medium;
    color: white;
    padding: $field-padding-vertical $field-padding-horizontal;
    cursor: pointer;
    transition: all 0.1s;
    border: none;
    border-radius: $corner-radius-small;
    outline: none;
    &:active:not(:disabled) {
        transform: translateY(2px);
    }
    .left-icon{
      margin-right: $spacing-xsmall;
    }
    .right-icon{
      margin-left: $spacing-xsmall;
    }
    &.rounded{
      border-radius: 30px;
    }
    &:disabled{
      opacity: 0.4;
      cursor: default;
    }
    &.icon-button-left{
      padding-left: $field-padding-horizontal;
    }
    &.icon-button-right{
      padding-right: $field-padding-horizontal;
    }
    &.shadow{
      @include button-shadow($gray-medium);
    }
}
