*{
  font-family: $primary-font;
}

html {
  font-size: $font-size-root;
}


.heading1, .heading2, .heading3 {
  margin: 0;
  padding: 0;
}

.heading1 {
  font-size: $font-size-xlarge;
  font-weight: 800;
}

.heading2 {
  font-size: $font-size-medium;
  font-weight: 800;
}

.heading3 {
  font-size: $font-size-small;
  font-weight: 400;
  opacity: 0.9;
}

h1 {
  @extend .heading1;
}
h2 {
  @extend .heading2;
}
h3 {
  @extend .heading3;
}
