@import "icomoon";

@import "./../../../source/imports";
@import "./../../../source/style";

body, main, html, #app-content {
  height: 100%;
  font-size: 16px;
}

pre{
  display: inline-block;
  font-size: 9pt;
  background-color: rgba(0,0,0,0.1);
  padding: 5px 10px;
  white-space: pre-wrap;
}

pre.usage{
  background-color: $gray-medium;
  color: $white;

}

.header{
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  +div{
    padding-top: 60px;
  }
}
