@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY($animation-offset);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-down {
  0% {
    opacity: 0;
    transform: translateY(-$animation-offset);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX($animation-offset);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-$animation-offset);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-down-in {
  0% {
    opacity: 0;
    transform: scale(1.5,1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}

@keyframes scale-up-in {
  0% {
    opacity: 0;
    transform: scale(0.5,0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}

%animation-base{
  animation-fill-mode: forwards;
}

.slide-in-up{ @extend %animation-base; opacity: 0; animation: slide-in-up $animation-duration; }
.slide-in-down{ @extend %animation-base; opacity: 0; animation: slide-in-down $animation-duration; }
.slide-in-left{ @extend %animation-base; opacity: 0; animation: slide-in-left $animation-duration; }
.slide-in-right{ @extend %animation-base; opacity: 0; animation: slide-in-right $animation-duration; }
.slide-out-up{ @extend %animation-base; @extend .slide-in-up; animation-direction: reverse; }
.slide-out-down{ @extend %animation-base; @extend .slide-in-down; animation-direction: reverse; }
.slide-out-left{ @extend %animation-base; @extend .slide-in-left;  animation-direction: reverse; }
.slide-out-right{ @extend %animation-base; @extend .slide-in-right;  animation-direction: reverse; }
.fade-in{ @extend %animation-base; opacity: 0; animation: fade-in $animation-duration; }
.fade-out{ @extend %animation-base; @extend .fade-in; animation-direction: reverse; }
.scale-down-in{ @extend %animation-base; opacity: 0; animation: scale-down-in $animation-duration; }
.scale-up-in{ @extend %animation-base; opacity: 0; animation: scale-up-in $animation-duration; }

.loop{ animation-iteration-count: infinite; }