.table-container {
  .table-titles {
    .title {
      font-weight: 500;
      font-size: 40px;
    }
    .sub-title {
      font-weight: 300;
      font-size: 20px;
    }
  }

  .table-options-container {
    padding: 10px 0px;
    .table-options {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      i {
        padding: 0px 8px;

        &:last-of-type {
          padding-right: 0px;
        }

        &:hover {
          color: red;
        }
        &:active {
          color: green;
        }
      }
    }
  }

  .table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    .table-header {
      border: 1px solid black;
      text-align: left;
      vertical-align: middle;

      tr {
        height: 40px;
        td {
          border: 1px solid black;
        }
      }
    }

    .table-body {
      .table-row {
        text-align: left;
        vertical-align: middle;
        td {
          height: 20px;
          border: 1px solid black;
        }
      }
    }
  }
}
.table-pagination {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  .pagination {
    justify-self: center;
  }

  .table-item-dropdown {
    display: flex;
    flex: 1;
    min-width: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    select {
      margin-left: 8px;
      flex: 1;
      min-width: 100px;
      padding: 8px;
      border: none;
    }
  }
}
