.table-item-dropdown {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  select {
    margin-left: 8px;
    flex: 0.1;
    padding: 8px;
    border: none;
  }
}
