@import "shared/fonts";

//@import "fonts";
@import "../_symlink/imports";
@import "../_symlink/core";
@import "../_symlink/form";
@import "../_symlink/icons";
@import "../_symlink/navigation";
@import "../_symlink/animation";

* {
  box-sizing: border-box;
}

.intro-view {
  padding: $spacing-xlarge;

  h2,
  p {
    font-family: 'Cabin', sans-serif;
    line-height: 1.4em;
  }

  h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: $spacing-medium;
  }

  p {
    font-size: 24px;
    font-weight: 400;
  }
}

.vertical-dude {
  height: 300px;
}

.armstrong-input.switch-input.outlined-switch {
  >input {
    border: 2px solid red;
    transition: border-color 0.3s;

    &:checked {
      border-color: green;
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;

  &:visited {
    color: inherit;
  }
}

pre {
  color: $brand-primary;
  background-color: $gray-very-light;
  padding: $spacing-small;
  border-radius: $spacing-xxsmall;
}